@font-face {
    font-family: aleo-regular;
    src: url(../fonts/Aleo-Regular.otf);
}

@font-face {
    font-family: wcmanoge;
    src: url(../fonts/WCManoNegraBta.otf);
}

@font-face {
    font-family: aleo-regular-bold;
    src: url(../fonts/Aleo-Bold.otf);
}

@font-face {
    font-family: aleo-regular-light;
    src: url(../fonts/Aleo-Light.otf);
}

$font-aleo-regular: aleo-regular;
$font-aleo-regular-light: aleo-regular-light;
$font-aleo-regular-bold :aleo-regular-bold;
$font-wcmanoge: wcmanoge;
// variables font- size
$font-size-menu: 14px;
$font-size-banner: 100px;
$font-size-banner-second: 16px;
$fon-size-paragrap: 20px;
$font-size-text :16px;

$height-header : 110px;

$color-text-banner: #ffffff;